/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
}


header {
    margin-bottom: 20px;
}

.hero {
    background: url('path/to/hero-image.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 60px 20px;
}

.subscribe, .contact {
    padding: 40px 20px;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
}

h1, h2 {
    margin-bottom: 20px;
}



input[type="email"], textarea {
    max-width: 500px;
    margin: 0 auto;
}

/* Animaciones */
@keyframes titleAnimation {
    0% { transform: translateY(-10px); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(-10px); }
}

.title-animate {
    animation: titleAnimation 2s forwards; /* Animación se ejecuta solo una vez */
}


/* Navbar styles ------------------------------------------------------------------------------------------- */
/* Navbar styles */
.navbar {
    padding: 0.1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #031a33 !important; /* Mantiene el color de fondo que tenías */
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.3) !important; /* Asegura que la sombra esté aplicada */
    position: fixed !important; /* Fija la barra de navegación en la parte superior */
    top: 0;
    left: 0;
    width: 100% !important;
    z-index: 1000 !important; /* Asegura que esté por encima del contenido */
}

/* Centrar el logo y el contenido de la barra de navegación */
.navbar-brand {
    display: flex;
    justify-content: center !important; /* Centra horizontalmente el logo */
    align-items: center;
    flex: 1;
}

.navbar-brand img.navbar-logo {
    height:70px !important; /* Ajusta el tamaño del logo */
    align-items: center;
}

/* Centrar los enlaces de navegación */
.navbar-nav {
    display: flex;
    justify-content: center !important; /* Centra horizontalmente los enlaces */
    flex: 1;
}

.navbar-nav .nav-link {
    position: relative;
    font-weight: 500;
    padding-bottom: 0.5rem; /* Espacio para el subrayado */
    color: #ffffff !important; /* Color de texto de los enlaces en la barra de navegación */
    text-decoration: none !important; /* Elimina el subrayado predeterminado */
    transition: color 0.3s ease, border-bottom 0.3s ease; /* Transiciones para color y subrayado */
}

/* Subrayado con border-bottom */
.navbar-nav .nav-link {
    border-bottom: 2px solid transparent; /* Subrayado transparente inicialmente */
}

/* Estilo para el estado hover de los enlaces */
.navbar-nav .nav-link:hover {
    color: #d3d3d3 !important; /* Color del texto en hover */
    border-bottom: 2px solid #d3d3d3 !important; /* Color del subrayado en hover */
}

@media (max-width: 768px) {
    .navbar-nav {
        display: block !important; /* Cambia el display a block en pantallas pequeñas */
        text-align: center !important; /* Centra el texto de los enlaces */
    }

    .navbar-brand {
        flex: none !important; /* Permite que el logo no se expanda */
    }

    .navbar-toggler {
        border: none !important; /* Quita el borde del botón de menú en dispositivos móviles */
    }

    .navbar-nav .nav-link {
        padding: 0.2rem 0 !important; /* Ajusta el padding de los enlaces para pantallas pequeñas */
    }

    .navbar-collapse {
        margin-top: 0rem !important; /* Agrega un margen superior para el contenido del menú colapsado */
    }
}

/* Navbar background color */
.navbar-dark.bg-primary {
    background-color: #031a33 !important; /* Color de fondo de la barra de navegación */
}

/* Color de los enlaces de navegación */
.navbar-nav .nav-link {
    color: #ffffff !important; /* Color de texto de los enlaces en la barra de navegación */
}


/*-------------------dropdown--------------------------------------------*/
.dropdown-menu {
    background-color: #031a33; /* Color de fondo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil para profundidad */
    display: none; /* Ocultar el menú por defecto */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.2s ease, transform 0.2s ease; /* Transición suave para aparición */
    transform: translateY(10px); /* Desplazamiento hacia abajo */
    color: #000000 !important;
}

/* Mostrar el menú al hacer hover en el ítem */
.nav-item:hover .dropdown-menu {
    display: block;
    opacity: 1; /* Hacer visible el menú */
    transform: translateY(0); /* Restablecer el desplazamiento */
}

/* Estilo de los ítems del menú */
.dropdown-item {
    padding: 0.75rem 1rem; /* Espaciado interno ajustado */
    color: #ffffff !important; /* Color del texto */
    text-decoration: none; /* Sin subrayado predeterminado */
    position: relative; /* Necesario para el efecto de hover */
    transition: color 0.3s ease, background-color 0.3s ease; /* Transiciones suaves para color y fondo */
}

/* Estilo de los ítems del menú al hacer hover */
.dropdown-item:hover {
    color: #ffffff !important; /* Color del texto en hover */
    background-color: #031a33 !important; /* Fondo de los ítems en hover */
}



/* Footer styles ------------------------------------------------------------------------------------------------*/

.footer-title {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0.1rem;
}

.footer-info{
    font-size: 0.9rem;
}

.footer-divider {
    border-top: 1px solid #d3d3d3; /* Línea gris debajo del título */
    margin-bottom: 0.rem;
}

.contact-info {
    font-size: 0.87rem;
}

.contact-info i {
    margin-right: 0.1rem;
}

ul.list-unstyled {
    padding-left: 0;
    list-style: none;
}

ul.list-unstyled li {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.copycolor {
    background-color: #c0c0c071;
}

/* Estilo para los enlaces en el footer */
.footer-link,
.contact-link {
    color: inherit; /* Hereda el color del texto del contenedor */
    text-decoration: none; /* Elimina el subrayado */
}

.footer-link:hover,
.contact-link:hover {
    text-decoration: underline; /* Añade subrayado al pasar el cursor */
}

.footer-title a {
    color: inherit; /* Hereda el color del elemento padre (en este caso, el color del texto del footer) */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    font-weight: bold;
    font-size: 1.rem;
}

/* Estilo para los enlaces en los títulos del footer-------------------------------------------------------------- */
.footer-title a {
    position: relative; /* Necesario para el posicionamiento absoluto del subrayado */
    color: inherit; /* Hereda el color del texto del contenedor */
    text-decoration: none; /* Elimina el subrayado por defecto */
}

.footer-title a::after {
    content: ""; /* Necesario para el pseudo-elemento */
    position: absolute;
    left: 0;
    bottom: -6px; /* Ajusta esta propiedad para mover el subrayado más abajo del texto */
    width: 100%;
    height: 1px; /* Altura del subrayado */
    background-color: transparent; /* Inicialmente invisible */
    transition: background-color 0.3s ease; /* Transición suave para el color */
}

.footer-title a:hover::after {
    background-color: #d3d3d3; /* Color del subrayado al pasar el cursor */
}







@media (max-width: 767.98px) {
    .footer-title {
        text-align: center;
    }

    .footer-divider {
        margin: 0 auto 0.5rem;
        width: 50%; /* Ajusta el ancho de la línea en pantallas pequeñas */
    }
}

/* Ajusta el espaciado entre columnas en pantallas más grandes */
@media (min-width: 768px) {
    .col-md-3 {
        padding-left: 1rem; /* Espaciado izquierdo */
        padding-right: 1rem; /* Espaciado derecho */
    }
}

/* Ajustes en pantallas pequeñas */
@media (max-width: 767.98px) {
    .col-6 {
        padding-right: 0;
        padding-left: 0;
    }
}

.parallax-section {
    position: relative;
    overflow: hidden;
    height:550px; /* Ajusta la altura según sea necesario */
}

.parallax-image {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../imagenes/contacto0.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.521);
    position: relative;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    color: #fff;
    overflow: hidden;
}
.parallax-content {
    position: absolute;
    bottom: 0; /* Alinea el contenido en la parte inferior */
    left: 0;   /* Alinea el contenido a la izquierda */
    padding: 1rem;
    z-index: 1;
}

.parallax-content h1 {
    font-size: 8rem; /* Ajusta el tamaño del título */
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 900;
}

.parallax-content h2 {
    font-size: 1.5rem; /* Ajusta el tamaño del subtítulo */
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
}


/* Media Queries para pantallas más pequeñas */@media (max-width: 768px) {
    .parallax-section {
        height: 500px; /* Ajusta la altura para pantallas más pequeñas */
    }

    .parallax-contenth1 {
        font-size: 1rem; /* Ajusta el tamaño del título */
    }

    .parallax-contenth2 {
        font-size: 1.25rem; /* Ajusta el tamaño del subtítulo */
    }

    .parallax-content {
        padding: 0.5rem; /* Reduce el padding */max-width: 95%; /* Asegura más margen */
    }
}

@media (max-width: 480px) {
    .parallax-section {
        height: 300px; /* Ajusta la altura para dispositivos móviles */
    }

    .parallax-contenth1 {
        font-size: 1rem; /* Ajusta el tamaño del título */
    }

    .parallax-contenth2 {
        font-size: 1rem; /* Ajusta el tamaño del subtítulo */
    }

    .parallax-content {
        padding: 0.25rem; /* Reduce aún más el padding */max-width: 100%; /* Asegura que el contenido ocupe el ancho completo */
    }
}

/* Media Queries para pantallas más pequeñas */@media (max-width: 768px) {
    h1 {
        font-size: 4rem !important; /* Ajusta el tamaño del título para pantallas más pequeñas */padding-bottom: 0.75rem; /* Ajusta el padding en la parte inferior */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem; /* Ajusta el tamaño del título para dispositivos móviles */padding-bottom: 0.5rem; /* Ajusta el padding en la parte inferior */
    }
}






.two-column-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.titulo1{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}
.column {
    flex: 1;
    padding: 20px;
}

.separator {
    width: 5px;
    background-color: #000000;
    height: 100%;
    margin: 0 20px;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.social-links a i {
    font-size: 40px;
    margin-right: 10px;
}

.social-links a:hover {
    color: #a3a3a3;
}

.imgform{
    background-image: url(../imagenes/banner1.jpg);
    border-radius: 2rem;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.521);
    color: #fff;

}

.placeholder {
    font-family: 'Montserrat', sans-serif;
}

:placeholder-shown{
    font-family: 'Montserrat', sans-serif;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 5rem;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos generales para las columnas */
.two-column-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px; /* Ajusta el margen superior si es necesario */
}

.column {
    flex: 1;
    padding: 10px; /* Ajusta el padding si es necesario */
}

/* Separador entre columnas */
.separator {
    display: none; /* Oculta el separador en pantallas pequeñas */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767.98px) {
    .two-column-section {
        flex-direction: column;
    }

    .separator {
        display: none; /* Elimina el separador en pantallas pequeñas */
    }
    
    .column {
        width: 100%;
        margin-bottom: 20px; /* Ajusta el margen inferior para mayor separación en pantallas pequeñas */
    }
}

/* Estilos para pantallas medianas y grandes */
@media (min-width: 768px) {
    .separator {
        display: block; /* Muestra el separador en pantallas medianas y grandes */
    }
    
    .column {
        flex: 1;
        padding: 15px; /* Ajusta el padding para pantallas medianas y grandes */
    }
}



/* Button */
.btn-custom {
    display: inline-block;
    padding: 12px;
    color: #fff !important;
    background-color: #888888c0 !important; /* Color del botón */
    border-color: #c7c7c78a;
    text-decoration: none; /* Sin subrayado en el botón */
    border-radius: 35px !important; /* Bordes redondeados del botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
    width: 50%;
}

.btn-custom:hover {
    background-color: #b9b9b9c0 !important; /* Color del botón al hacer hover */
}

/* Modal Styles */
.modal-content {
    border-radius: 10px;
    border: none;
}

.modal-header {
    background-color: #929292;
    color: #ffffff;
    border-bottom: none;
    padding: 15px;
}

.modal-body {
    color: #000000;
    font-size: 16px;
    padding: 20px;
    background-color: #dddddd;
}

.modal-footer {
    border-top: none;
    padding: 15px;
    background-color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 30px;
    }

    .btn-custom {
        font-size: 14px;
        padding: 10px;
    }

    h2 {
        font-size: 22px;
    }

    .col-md-4,
    .col-md-8 {
        text-align: left;
        padding-bottom: 20px;
    }
}

.divider {
    border: none;
    border-top: 2px solid #000000;
    margin-right: 9rem;
    margin-left: 9rem;
}

.text-center {
    text-align: center;
}
.section-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
.section-subtitle {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #444444;
    font-family: 'Montserrat', sans-serif;
}
.map-container {
    margin-top: 1rem;
}