/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
}


header {
    margin-bottom: 20px;
}

.hero {
    background: url('path/to/hero-image.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 60px 20px;
}

.subscribe, .contact {
    padding: 40px 20px;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
}

h1, h2 {
    margin-bottom: 20px;
}



input[type="email"], textarea {
    max-width: 500px;
    margin: 0 auto;
}

/* Animaciones */
@keyframes titleAnimation {
    0% { transform: translateY(-10px); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(-10px); }
}

.title-animate {
    animation: titleAnimation 2s forwards; /* Animación se ejecuta solo una vez */
}


/* Navbar styles ------------------------------------------------------------------------------------------- */
.navbar {
    padding: 0.1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #031a33 !important; /* Mantiene el color de fondo que tenías */
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.3); /* Agrega sombra a la barra de navegación */
    position: fixed; /* Fija la barra de navegación en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que esté por encima del contenido */
}

/* Centrar el logo y el contenido de la barra de navegación */
.navbar-brand {
    display: flex;
    justify-content: center; /* Centra horizontalmente el logo */
    align-items: center;
    flex: 1;
}

.navbar-brand img.navbar-logo {
    height:70px; /* Ajusta el tamaño del logo */
}

/* Centrar los enlaces de navegación */
.navbar-nav {
    display: flex;
    justify-content: center; /* Centra horizontalmente los enlaces */
    flex: 1;
}

.navbar-nav .nav-link {
    position: relative;
    font-weight: 500;
    padding-bottom: 0.5rem; /* Espacio para el subrayado */
    color: #ffffff; /* Color de texto de los enlaces en la barra de navegación */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    transition: color 0.3s ease, border-bottom 0.3s ease; /* Transiciones para color y subrayado */
}

/* Subrayado con border-bottom */
.navbar-nav .nav-link {
    border-bottom: 2px solid transparent; /* Subrayado transparente inicialmente */
}

/* Estilo para el estado hover de los enlaces */
.navbar-nav .nav-link:hover {
    color: #d3d3d3; /* Color del texto en hover */
    border-bottom: 2px solid #d3d3d3; /* Color del subrayado en hover */
}

@media (max-width: 768px) {
    .navbar-nav {
        display: block; /* Cambia el display a block en pantallas pequeñas */
        text-align: center; /* Centra el texto de los enlaces */
    }

    .navbar-brand {
        flex: none; /* Permite que el logo no se expanda */
    }

    .navbar-toggler {
        border: none; /* Quita el borde del botón de menú en dispositivos móviles */
    }

    .navbar-nav .nav-link {
        padding: 0.2rem 0; /* Ajusta el padding de los enlaces para pantallas pequeñas */
    }

    .navbar-collapse {
        margin-top: 0rem; /* Agrega un margen superior para el contenido del menú colapsado */
    }
}

/* Navbar background color */
.navbar-dark.bg-primary {
    background-color: #031a33 !important; /* Color de fondo de la barra de navegación */
}

/* Color de los enlaces de navegación */
.navbar-nav .nav-link {
    color: #ffffff; /* Color de texto de los enlaces en la barra de navegación */
}



/*-------------------dropdown--------------------------------------------*/
.dropdown-menu {
    background-color: #031a33; /* Color de fondo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil para profundidad */
    display: none; /* Ocultar el menú por defecto */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.2s ease, transform 0.2s ease; /* Transición suave para aparición */
    transform: translateY(10px); /* Desplazamiento hacia abajo */
}

/* Mostrar el menú al hacer hover en el ítem */
.nav-item:hover .dropdown-menu {
    display: block;
    opacity: 1; /* Hacer visible el menú */
    transform: translateY(0); /* Restablecer el desplazamiento */
}

/* Estilo de los ítems del menú */
.dropdown-item {
    padding: 0.75rem 1rem; /* Espaciado interno ajustado */
    color: #ffffff; /* Color del texto */
    text-decoration: none; /* Sin subrayado predeterminado */
    position: relative; /* Necesario para el efecto de hover */
    transition: color 0.3s ease, background-color 0.3s ease; /* Transiciones suaves para color y fondo */
}

/* Estilo de los ítems del menú al hacer hover */
.dropdown-item:hover {
    color: #ffffff !important; /* Color del texto en hover */
    background-color: #031a33 !important; /* Fondo de los ítems en hover */
}



/* Footer styles ------------------------------------------------------------------------------------------------*/

.footer-title {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0.1rem;
}

.footer-info{
    font-size: 0.9rem;
}

.footer-divider {
    border-top: 1px solid #d3d3d3; /* Línea gris debajo del título */
    margin-bottom: 0.rem;
}

.contact-info {
    font-size: 0.87rem;
}

.contact-info i {
    margin-right: 0.1rem;
}

ul.list-unstyled {
    padding-left: 0;
    list-style: none;
}

ul.list-unstyled li {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.copycolor {
    background-color: #c0c0c071;
}

/* Estilo para los enlaces en el footer */
.footer-link,
.contact-link {
    color: inherit; /* Hereda el color del texto del contenedor */
    text-decoration: none; /* Elimina el subrayado */
}

.footer-link:hover,
.contact-link:hover {
    text-decoration: underline; /* Añade subrayado al pasar el cursor */
}

.footer-title a {
    color: inherit; /* Hereda el color del elemento padre (en este caso, el color del texto del footer) */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    font-weight: bold;
    font-size: 1.rem;
}

/* Estilo para los enlaces en los títulos del footer-------------------------------------------------------------- */
.footer-title a {
    position: relative; /* Necesario para el posicionamiento absoluto del subrayado */
    color: inherit; /* Hereda el color del texto del contenedor */
    text-decoration: none; /* Elimina el subrayado por defecto */
}

.footer-title a::after {
    content: ""; /* Necesario para el pseudo-elemento */
    position: absolute;
    left: 0;
    bottom: -6px; /* Ajusta esta propiedad para mover el subrayado más abajo del texto */
    width: 100%;
    height: 1px; /* Altura del subrayado */
    background-color: transparent; /* Inicialmente invisible */
    transition: background-color 0.3s ease; /* Transición suave para el color */
}

.footer-title a:hover::after {
    background-color: #d3d3d3; /* Color del subrayado al pasar el cursor */
}







@media (max-width: 767.98px) {
    .footer-title {
        text-align: center;
    }

    .footer-divider {
        margin: 0 auto 0.5rem;
        width: 50%; /* Ajusta el ancho de la línea en pantallas pequeñas */
    }
}

/* Ajusta el espaciado entre columnas en pantallas más grandes */
@media (min-width: 768px) {
    .col-md-3 {
        padding-left: 1rem; /* Espaciado izquierdo */
        padding-right: 1rem; /* Espaciado derecho */
    }
}

/* Ajustes en pantallas pequeñas */
@media (max-width: 767.98px) {
    .col-6 {
        padding-right: 0;
        padding-left: 0;
    }
}




.service-section {
    padding: 2rem 0; /* Espaciado superior e inferior para la sección */
}

.service-content {
    display: flex;
    align-items: center;
    gap: 2rem; /* Espacio entre la imagen y el texto */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}

.service-image {
    flex: 1; /* Permite que la imagen ocupe el espacio disponible */
}

.service-image img {
    max-width: 100%; /* Asegura que la imagen no se desborde */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 0.5rem; /* Bordes redondeados para la imagen */
}

.service-text {
    font-family: 'Didact Gothic', sans-serif;
    flex: 1; /* Permite que el texto ocupe el espacio disponible */
    max-width: 500px; /* Limita el ancho del texto para evitar que sea demasiado ancho en pantallas grandes */
}

/* Importa la fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.service-text h1 {
    font-size: 4rem; /* Tamaño del título */
    font-weight: bold; /* Hacer el texto en negrita */
    margin-bottom: 1rem; /* Espacio debajo del título */
}

.service-text p {
    font-size: 1rem; /* Tamaño del texto */
    font-family: 'Montserrat', sans-serif; /* Aplicar la fuente Montserrat */
    margin-bottom: 1rem; /* Espacio debajo del párrafo */
}


.btn-custom {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff !important;
    background-color: #888888c0 !important; /* Color del botón */
    border-color: #c7c7c78a;
    text-decoration: none; /* Sin subrayado en el botón */
    border-radius: 0.5rem; /* Bordes redondeados del botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.btn-custom:hover {
    background-color: #b9b9b9c0 !important; /* Color del botón al hacer hover */
}


/* Media queries para diseño responsive */
@media (max-width: 768px) {
    .service-content {
        flex-direction: column; /* Cambia la dirección del flex a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos en la columna */
    }

    .service-image, .service-text {
        width: 100%; /* Hace que la imagen y el texto ocupen el 100% del ancho disponible */
    }

    .service-text h1 {
        font-size: 1.5rem; /* Tamaño del título en pantallas pequeñas */
    }

    .service-text p {
        font-size: 0.875rem; /* Tamaño del texto en pantallas pequeñas */
    }

    .btn-primary {
        font-size: 0.875rem; /* Tamaño del texto del botón en pantallas pequeñas */
    }
}

.divider {
    height: 1px; /* Altura de la línea */
    margin-left: 30rem;
    margin-right: 30rem;
    background-color: #d6d6d6; /* Color de la línea */
}