/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
}


header {
    margin-bottom: 20px;
}

.hero {
    background: url('path/to/hero-image.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 60px 20px;
}

.subscribe, .contact {
    padding: 40px 20px;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
}

h1, h2 {
    margin-bottom: 20px;
}



input[type="email"], textarea {
    max-width: 500px;
    margin: 0 auto;
}

/* Animaciones */
@keyframes titleAnimation {
    0% { transform: translateY(-10px); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(-10px); }
}

.title-animate {
    animation: titleAnimation 2s forwards; /* Animación se ejecuta solo una vez */
}


/* Navbar styles ------------------------------------------------------------------------------------------- */
.navbar {
    padding: 0.1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #031a33 !important; /* Mantiene el color de fondo que tenías */
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.3); /* Agrega sombra a la barra de navegación */
    position: fixed; /* Fija la barra de navegación en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que esté por encima del contenido */
}

/* Centrar el logo y el contenido de la barra de navegación */
.navbar-brand {
    display: flex;
    justify-content: center; /* Centra horizontalmente el logo */
    align-items: center;
    flex: 1;
}

.navbar-brand img.navbar-logo {
    height:70px; /* Ajusta el tamaño del logo */
}

/* Centrar los enlaces de navegación */
.navbar-nav {
    display: flex;
    justify-content: center; /* Centra horizontalmente los enlaces */
    flex: 1;
}

.navbar-nav .nav-link {
    position: relative;
    font-weight: 500;
    padding-bottom: 0.5rem; /* Espacio para el subrayado */
    color: #ffffff; /* Color de texto de los enlaces en la barra de navegación */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    transition: color 0.3s ease, border-bottom 0.3s ease; /* Transiciones para color y subrayado */
}

/* Subrayado con border-bottom */
.navbar-nav .nav-link {
    border-bottom: 2px solid transparent; /* Subrayado transparente inicialmente */
}

/* Estilo para el estado hover de los enlaces */
.navbar-nav .nav-link:hover {
    color: #d3d3d3; /* Color del texto en hover */
    border-bottom: 2px solid #d3d3d3; /* Color del subrayado en hover */
}

@media (max-width: 768px) {
    .navbar-nav {
        display: block; /* Cambia el display a block en pantallas pequeñas */
        text-align: center; /* Centra el texto de los enlaces */
    }

    .navbar-brand {
        flex: none; /* Permite que el logo no se expanda */
    }

    .navbar-toggler {
        border: none; /* Quita el borde del botón de menú en dispositivos móviles */
    }

    .navbar-nav .nav-link {
        padding: 0.2rem 0; /* Ajusta el padding de los enlaces para pantallas pequeñas */
    }

    .navbar-collapse {
        margin-top: 0rem; /* Agrega un margen superior para el contenido del menú colapsado */
    }
}

/* Navbar background color */
.navbar-dark.bg-primary {
    background-color: #031a33 !important; /* Color de fondo de la barra de navegación */
}

/* Color de los enlaces de navegación */
.navbar-nav .nav-link {
    color: #ffffff; /* Color de texto de los enlaces en la barra de navegación */
}



/*-------------------dropdown--------------------------------------------*/
.dropdown-menu {
    background-color: #031a33; /* Color de fondo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil para profundidad */
    display: none; /* Ocultar el menú por defecto */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.2s ease, transform 0.2s ease; /* Transición suave para aparición */
    transform: translateY(10px); /* Desplazamiento hacia abajo */
}

/* Mostrar el menú al hacer hover en el ítem */
.nav-item:hover .dropdown-menu {
    display: block;
    opacity: 1; /* Hacer visible el menú */
    transform: translateY(0); /* Restablecer el desplazamiento */
}

/* Estilo de los ítems del menú */
.dropdown-item {
    padding: 0.75rem 1rem; /* Espaciado interno ajustado */
    color: #ffffff; /* Color del texto */
    text-decoration: none; /* Sin subrayado predeterminado */
    position: relative; /* Necesario para el efecto de hover */
    transition: color 0.3s ease, background-color 0.3s ease; /* Transiciones suaves para color y fondo */
}

/* Estilo de los ítems del menú al hacer hover */
.dropdown-item:hover {
    color: #ffffff !important; /* Color del texto en hover */
    background-color: #031a33 !important; /* Fondo de los ítems en hover */
}



/* Footer styles ------------------------------------------------------------------------------------------------*/

.footer-title {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0.1rem;
}

.footer-info{
    font-size: 0.9rem;
}

.footer-divider {
    border-top: 1px solid #d3d3d3; /* Línea gris debajo del título */
    margin-bottom: 0.rem;
}

.contact-info {
    font-size: 0.87rem;
}

.contact-info i {
    margin-right: 0.1rem;
}

ul.list-unstyled {
    padding-left: 0;
    list-style: none;
}

ul.list-unstyled li {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.copycolor {
    background-color: #c0c0c071;
}

/* Estilo para los enlaces en el footer */
.footer-link,
.contact-link {
    color: inherit; /* Hereda el color del texto del contenedor */
    text-decoration: none; /* Elimina el subrayado */
}

.footer-link:hover,
.contact-link:hover {
    text-decoration: underline; /* Añade subrayado al pasar el cursor */
}

.footer-title a {
    color: inherit; /* Hereda el color del elemento padre (en este caso, el color del texto del footer) */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    font-weight: bold;
    font-size: 1.rem;
}

/* Estilo para los enlaces en los títulos del footer-------------------------------------------------------------- */
.footer-title a {
    position: relative; /* Necesario para el posicionamiento absoluto del subrayado */
    color: inherit; /* Hereda el color del texto del contenedor */
    text-decoration: none; /* Elimina el subrayado por defecto */
}

.footer-title a::after {
    content: ""; /* Necesario para el pseudo-elemento */
    position: absolute;
    left: 0;
    bottom: -6px; /* Ajusta esta propiedad para mover el subrayado más abajo del texto */
    width: 100%;
    height: 1px; /* Altura del subrayado */
    background-color: transparent; /* Inicialmente invisible */
    transition: background-color 0.3s ease; /* Transición suave para el color */
}

.footer-title a:hover::after {
    background-color: #d3d3d3; /* Color del subrayado al pasar el cursor */
}







@media (max-width: 767.98px) {
    .footer-title {
        text-align: center;
    }

    .footer-divider {
        margin: 0 auto 0.5rem;
        width: 50%; /* Ajusta el ancho de la línea en pantallas pequeñas */
    }
}

/* Ajusta el espaciado entre columnas en pantallas más grandes */
@media (min-width: 768px) {
    .col-md-3 {
        padding-left: 1rem; /* Espaciado izquierdo */
        padding-right: 1rem; /* Espaciado derecho */
    }
}

/* Ajustes en pantallas pequeñas */
@media (max-width: 767.98px) {
    .col-6 {
        padding-right: 0;
        padding-left: 0;
    }
}

.parallax-section {
    position: relative;
    overflow: hidden;
    height: 450px; /* Ajusta la altura según sea necesario */
}

.parallax-image1 {
    background-size: cover;
    background-image: url(../imagenes/pri0.jpg);
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(41, 41, 41, 0.205);
    position: relative;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    color: #fff;
    overflow: hidden;
    align-items: center; /* Centra el contenido verticalmente */padding: 020px; /* Espaciado interno para que no quede pegado al borde */
}

.text-box {
    position: absolute;
    right: 450px; /* Ajusta la distancia del borde derecho */
    top: 50%; /* Posiciona el cuadro en el centro vertical */
    transform: translateY(-50%); /* Ajusta el cuadro para que esté centrado verticalmente */
    background-color: rgba(136, 136, 136, 0.6); /* Fondo semi-transparente para el texto */
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
    max-width: 300px; /* Ajusta el ancho máximo del cuadro de texto */
}

.text-boxh1, .text-boxh2, .text-boxp {
    margin: 0010px0; /* Espaciado entre elementos de texto */
}

/* Estilos generales para la sección */.grid-section {
    padding: 20px;
    background-color: #f9f9f9; /* Color de fondo opcional */
}

/* Contenedor de la rejilla */.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
    gap: 20px; /* Espacio entre columnas */
    align-items: center; /* Alinea verticalmente el contenido */
}

/* Estilo para el contenido de texto */.text-contenth2 {
    margin-top: 0; /* Elimina el margen superior */
    font-size: 24px; /* Tamaño del título */color: #333; /* Color del título */
}

.text-contentp {
    margin: 10px00; /* Margen superior para el párrafo */font-size: 16px; /* Tamaño del texto */color: #666; /* Color del texto */
}

/* Estilo para la imagen */.image-contentimg {
    width: 50%; /* La imagen ocupa el 100% del ancho de la columna */height: auto; /* Mantiene la proporción de la imagen */border-radius: 8px; /* Bordes redondeados opcionales */
}

/* Estilos responsivos */@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }
}









/* Añadir animaciones de entrada */@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.grid-section {
    position: relative;
    overflow: hidden;
    background-color:#fff;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid-item {
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.text-content {
    animation-name: slideInFromLeft;
}

.image-content {
    animation-name: slideInFromRight;
}

h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #000000 !important;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 900;
}

.letra1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #000000;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 900;
}

.letra2{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 1.2rem;
    
}

ul {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    color: #666;
}

ul,li {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 04px8pxrgba(0,0,0,0.2);
}

/* Agregar un efecto de transición para suavizar la entrada */.grid-item {
    transition: opacity 1s ease-in-out;
}











/* Definir animaciones de entrada */@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Estilos para la sección */.grid-section1 {
    position: relative;
    overflow: hidden;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Estilos para los elementos de la cuadrícula */.grid-item1 {
    opacity: 0; /* Inicialmente oculto */animation-duration: 1s;
    animation-fill-mode: forwards;
}

.image-content {
    animation-name: slideInFromLeft;
}

.text-content {
    animation-name: slideInFromRight;
}

h2.letra1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000000;
}

/* Estilos para el párrafo */p.letra2 {
    font-size: 1.2rem;
    color: #000000;
}

/* Estilos para la imagen */img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 04px8pxrgba(0, 0, 0, 0.2);
}


.faq-section {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    max-width: 800px;
    margin: 20px auto;
}

.faq-section h2 {
    text-align: center;
    margin-bottom: 30px; /* Aumenta el margen inferior del título */
    font-size: 2rem;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 900;
}

.faq-item {
    border-bottom: 1px solid #b9b9b9;
    margin-bottom: 20px; /* Aumenta el margen inferior entre cada FAQ item */
    padding-bottom: 15px; /* Añade espacio interno en la parte inferior de cada item */
}

.faq-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.faq-question {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding-right: 40px; /* Aumenta el espacio para la flecha */
    transition: color 0.3s ease; /* Transición suave para el color */
}

.faq-question .arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease; /* Transición suave para la flecha */
}

.faq-answer {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5;
    max-height: 0; /* Oculta las respuestas por defecto */
    overflow: hidden; /* Evita que el contenido desborde */
    transition: max-height 1s ease-out, opacity 0.5s ease-out; /* Transición más lenta para la apertura/cierre */
    opacity: 0; /* Oculta el contenido por defecto */
    padding: 0 15px; /* Añade espacio interno para mejorar el efecto */
}

.faq-answer.show {
    max-height: 500px; /* Ajusta este valor según la altura máxima del contenido */
    opacity: 1; /* Hace visible el contenido */
}

.faq-answer p {
    margin: 0;
}

/* Animación de la flecha al hacer clic */
.faq-question.open .arrow {
    transform: translateY(-50%) rotate(180deg); /* Rote la flecha al abrir */
}



.faq-question:hover {
    color: #7a7a7a; /* Cambia el color al hacer hover */
}

.faq-question:hover .arrow {
    color: #7a7a7a; /* Cambia el color de la flecha al hacer hover */
}

/* Flechas hacia abajo cuando el contenido está oculto */
.faq-item .arrow {
    content: "\25BC"; /* Flecha hacia abajo */
}

/* Flechas hacia arriba cuando el contenido está visible */
.faq-item.open .arrow {
    content: "\25B2"; /* Flecha hacia arriba */
}

